/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

.page, .action-bar {
    background-color: #4a8ddf;
    color: #fff;
    border-width: 1;
    border-color: transparent;
}

.location {
    color: #fff;
    font-size: 22;
    font-weight: 300;
}

.temperature {
    font-size: 110;
    font-weight: 200;
}

.grid-percents Label{
    font-weight: 200;
    font-size: 17;
}

.summary-title {
    font-weight: 300;
    font-size: 20;
}

.summary {
    font-weight: 200;
}

.wi {
    font-family: 'Weather Icons','weathericons';
    font-size: 100;
}

