<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Weather"></Label>
</ActionBar>

<GridLayout class="page">
    <DockLayout stretchLastChild="true">
        <PullToRefresh *ngIf="!isBusy" dock="top" class="text-center" (refresh)="refreshWeather($event)">
            <ScrollView>
                <DockLayout *ngIf="weather" stretchLastChild="false">
                    <StackLayout dock="top" class="m-t-10">
                        <Label [text]="locationName" (tap)="showHelp()" horizontalAlignment="center" class="m-x-30 m-y-30 location" textWrap="true"></Label>
                    </StackLayout>
                    <Label dock="top" class="temperature m-t-30" [text]="roundData(weather?.currently.temperature)+'&deg;'"></Label>
                    
                    <GridLayout class="m-y-20 grid-percents" horizontalAlignment="center" dock="top" rows="30, 30" columns="*, *">
                        <Label text="HUMIDITY" class="m-x-20" row="0" col="0"></Label>
                        <Label text="RAIN" class="m-x-20" row="0" col="1"></Label>
                        <Label [text]="toPercent(weather?.currently.humidity)" row="1" col="0"></Label>
                        <Label [text]="toPercent(weather?.currently.precipProbability)" row="1" col="1"></Label>
                    </GridLayout>
                    <Label dock="top" class="summary-title m-t-30" text="Summary"></Label>
                    <Label dock="top" class="summary m-t-10 m-b-20" [text]="weather?.currently.summary"></Label>
                </DockLayout>
                <Label *ngIf="!weather" [text]="error" textWrap="true"></Label>
            </ScrollView>
        </PullToRefresh>
        <ActivityIndicator dock="top" [busy]="isBusy" width="100" height="100" class="activity-indicator"></ActivityIndicator>
    </DockLayout>
</GridLayout>